In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1117,tt0251127,50000000,177371441,How to Lose a Guy in 10 Days,Kate Hudson|Matthew McConaughey|Kathryn Hahn|A...,Donald Petrie,One of them is lying. So is the other.,"An advice columnist, Andie Anderson (Kate Huds...",116,Comedy|Romance,Paramount Pictures,2/7/2003,6.2,2003
1637,tt0368447,60000000,256697520,The Village,Bryce Dallas Howard|Joaquin Phoenix|Adrien Bro...,M. Night Shyamalan,There is no turning back,When a willful young man tries to venture beyo...,108,Drama|Mystery|Thriller,Scott Rudin Productions|Touchstone Pictures|Bl...,7/30/2004,6.0,2004
178,tt1408253,25000000,153997819,Ride Along,Ice Cube|Kevin Hart|John Leguizamo|Bruce McGil...,Tim Story,Propose to this cop's sister? Rookie mistake.,"For the past two years, high-school security g...",99,Action|Comedy,Universal Pictures|Rainforest Films|Cube Visio...,1/17/2014,6.1,2014
1585,tt0339291,140000000,209073645,Lemony Snicket's A Series of Unfortunate Events,Jim Carrey|Meryl Streep|Jude Law|Emily Brownin...,Brad Silberling,Darkening theaters December 17.,Three wealthy children's parents are killed in...,108,Adventure|Fantasy|Comedy|Family,Paramount Pictures|Scott Rudin Productions|Nic...,12/16/2004,6.5,2004
420,tt1216492,19000000,29922472,Leap Year,Amy Adams|Matthew Goode|Adam Scott|John Lithgo...,Anand Tucker,Anna planned to propose to her boyfriend on Fe...,When yet another anniversary passes without a ...,100,Romance|Comedy,Universal Pictures|Spyglass Entertainment|Octa...,1/8/2010,6.3,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Carribbean: On Strange Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [9]:
data[data['runtime'] == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'
data[data['runtime'] == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110'
round(data.runtime.mean(), 0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '107'
Median = data.describe().T
Median['50%']['runtime']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)'
data['profit'] = data['revenue'] - data['budget']
data[data['profit'] == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'
data[data['profit'] == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = '1478'
data[data['revenue'] > data['budget']].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = '599. The Dark Knight (tt0468569)'
max_profit = data[(data['release_year'] == 2008)]
max_profit[max_profit['profit'] == max_profit.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'
min_profit = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
min_profit[min_profit['profit'] == min_profit.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'
genre_list = data['genres'].str.split('|').explode().tolist()

def count_geners(genre_list):  #функция создания словаря с количеством жанров
    count_dic = {}
    for genre in genre_list:
        count_dic.setdefault(genre, genre_list.count(genre))
    # сортировка словаря по значениям
    list_d = list(count_dic.items())
    list_d.sort(key=lambda i: i[1])

    return list_d

count_geners(genre_list)

[('Foreign', 2),
 ('Documentary', 8),
 ('Western', 19),
 ('War', 58),
 ('History', 62),
 ('Music', 64),
 ('Animation', 139),
 ('Mystery', 168),
 ('Horror', 176),
 ('Fantasy', 222),
 ('Science Fiction', 248),
 ('Family', 260),
 ('Romance', 308),
 ('Crime', 315),
 ('Adventure', 415),
 ('Action', 582),
 ('Thriller', 596),
 ('Comedy', 683),
 ('Drama', 782)]

ВАРИАНТ 2

In [19]:
genre_list = data['genres'].str.split('|').tolist()
genre_dic = [j for x in genre_list for j in x]
genre_count = Counter()
for x in genre_dic:
    genre_count[x] += 1
list_d = list(genre_count.items())
list_d.sort(key=lambda i: i[1])
list_d

[('Foreign', 2),
 ('Documentary', 8),
 ('Western', 19),
 ('War', 58),
 ('History', 62),
 ('Music', 64),
 ('Animation', 139),
 ('Mystery', 168),
 ('Horror', 176),
 ('Fantasy', 222),
 ('Science Fiction', 248),
 ('Family', 260),
 ('Romance', 308),
 ('Crime', 315),
 ('Adventure', 415),
 ('Action', 582),
 ('Thriller', 596),
 ('Comedy', 683),
 ('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = 'Drama (560)'
data['genr1'] = data['genres'].str.split('|')
profit_genre = data.explode('genr1')
profit_genre[profit_genre.profit > 0]['genr1'].value_counts().head(1)

Drama    560
Name: genr1, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [21]:
answers['13'] = 'Peter Jackson (6490593685)'
data['dir1'] = data['director'].str.split('|')
df_dir = data.explode('dir1')
dir_profit = df_dir.groupby(['dir1'])['revenue'].sum()
dir_profit[dir_profit == dir_profit.max()]

dir1
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
answers['14'] = 'Robert Rodriguez (9)'

df_act = df_dir.explode('genr1')
df_action = df_act[(df_act.genr1 == 'Action')]
df_actop = df_action.groupby(
    ['dir1']).agg('count')['genr1'].sort_values(ascending=False)
df_actop.index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
answers['15'] = 'Chris Hemsworth (2027450773)'
data['cast1'] = data['cast'].str.split('|')
df_cast = data[(data['release_year'] == 2012)].explode('cast1')
df_castop = df_cast.groupby('cast1').agg('sum')['revenue'].sort_values(
    ascending=False)
df_castop.head(1)

cast1
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
answers['16'] = 'Matt Damon (18)'
profit_cast = data[(data['budget'] > data.budget.mean())].explode('cast1')
profit_cast.cast1.value_counts().head(5)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
Name: cast1, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
answers['17'] = 'Action (17)'
df_17 = data.explode('cast1')
df_nic = df_17[(df_17['cast1'] == 'Nicolas Cage')].explode('genr1')
df_nic.genr1.value_counts().head()

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
Name: genr1, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'
data['p_c'] = data['production_companies'].str.split('|')
df_18 = data.explode('p_c')
df_18[(df_18['p_c'] == 'Paramount Pictures')].sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genr1,dir1,cast1,p_c
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,"[Thriller, Drama, History]",[Kathryn Bigelow],"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
answers['19'] = '2015 (25449202382)'
data.groupby('release_year').agg('sum')['revenue'].sort_values(
    ascending=False).head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
answers['20'] = '2014 (2295464519)'
profit_year = data[data['production_companies'].str.contains('Warner Bros')]
profit_year.groupby('release_year').agg('sum')['profit'].sort_values(
    ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
answers['21'] = 'Сентябрь (227)'

data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month
data.month.value_counts().head()

9     227
12    190
10    186
8     161
3     156
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
answers['22'] = '450'
data.month[(data.month == 6) | (data.month == 7) | (data.month == 8)].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
answers['23'] = 'Peter Jackson (7)'
data.dir1[(data.month == 1) | (data.month == 2) |
          (data.month == 12)].value_counts().head()

[Peter Jackson]        7
[Clint Eastwood]       6
[Steven Soderbergh]    6
[Shawn Levy]           4
[Nancy Meyers]         4
Name: dir1, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
answers['24'] = 'Four By Two Productions (83)'
data['title_length'] = data['original_title'].apply(lambda row: len(row))
longest_title = data.explode('p_c')
company_name = longest_title.sort_values('title_length',
                                         ascending=False).head(1)
company_name.p_c

1448    Four By Two Productions
Name: p_c, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
answers['25'] = 'Midnight Picture Show (175)'
df_25 = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).value_counts(ascending=False)
data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
for company in df_25.index:
    df_25[company] = data['overview_words_length'][data['production_companies'].map(lambda x: True if company in x else False)].mean()
films = pd.DataFrame(df_25).sort_values(0, ascending=False)
films.head(1)

                         0
Midnight Picture Show  175

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
vote_99 = np.quantile(data.vote_average, 0.99)
data[data.vote_average > vote_99].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [38]:
import itertools
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
cast_pair = {}
actors = pd.Series(data.cast1)  #actors in one movie
for cast in actors:
    pairs = itertools.combinations(cast, 2)  #pairs of actors in each movie
    for pair in pairs:
        if pair in cast_pair:
            cast_pair[pair] += 1
        else:
            cast_pair[pair] = 1
sorted_actors = sorted(cast_pair.items(), key=lambda i: i[1], reverse=True)
sorted_actors[0]

(('Daniel Radcliffe', 'Rupert Grint'), 8)

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Carribbean: On Strange Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama (560)',
 '13': 'Peter Jackson (6490593685)',
 '14': 'Robert Rodriguez (9)',
 '15': 'Chris Hemsworth (2027450773)',
 '16': 'Matt Damon (18)',
 '17': 'Action (17)',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015 (25449202382)',
 '20': '2014 (2295464519)',
 '21': 'Сентябрь (227)',
 '22': '450',
 '23': 'Peter Jackson (7)',
 '24': 'Four By Two Productions (83)',
 '25': 'Midnight Picture Show (175)',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27